h3.panel-title {font-size: 26px;}



.col-sm-12 {
    background-color: #d3cdd9;
}

th.actions.text-right.dt-not-orderable.sorting_disabled {
    background-color: #888095;
}

th.actions.text-right.dt-not-orderable.sorting_disabled {
    background-color: #888095;
}

th.actions.text-right.dt-not-orderable.sorting_disabled {
    color: #fff;
}

.panel-body {
    background-color: #d3cdd9;
    color: #342a4c;
}




.voyager .table>thead>tr>th {
    background: #888095;
    border-color: #eaeaea;
    color: #fff;
}

td.no-sort.no-click.bread-actions {
    background-color: #d3cdd9;
    color: #342a4c;
}

.table>tbody>tr>th, .voyager .table>tfoot>tr>td, .voyager .table>tfoot>tr>th {
    border-color: #ffffff;
    color: #fff;
}

td {
    background-color: #d3cdd9;
    color: #342a4c;
}
p{
    color: #342a4c;;
}

input.form-control.input-sm {
    background-color: #d3cdd9;
}

.app-container {
    background-color: #d3cdd9;
}


.voyager .pagination .active span, .voyager .pagination .active>a, .voyager .pagination .active>a:focus, .voyager .pagination .active>a:hover, .voyager .pagination .active>span:focus, .voyager .pagination .active>span:hover {
    background-color: #888095;
    border-color: #342a4c;
    color: #342a4c;
    cursor: default;
    outline: none;
    z-index: 3;
}


h3.panel-title {
    background-color: #888095;
}


h3.card-title{
    color: #342a4c;
}

.card-body{
    color: #342a4c;
}

.voyagertext {
    color: #342a4c;
    font-size: larger;
}

.voyager .pagination>li>a {
    color: #ffffff;
}

div#dataTable_info {
    color: #342a4c;
}

select.form-control.input-sm {
    color: #342a4c;
}

label {
    color: #342a4c;
}

.panel-title {
    color: #ffffff;
    padding: 20px 30px;
}


h3.panel-title {
    font-size: 140%;
}

p {
    font-size: 120%;
}

select.form-control.input-sm {
    background-color: #d3cdd9;
}

.voyager .panel {
    background-color: #d3cdd9;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgb(0 0 0 / 5%);
    margin-bottom: 22px;
}




.col-sm-12 {
    background-color: #d3cdd9;
}

.card{
    background-color: #ccbfd9;
    color:#888095;
}

.voyager .pagination>li>a {
    color: #888095;
}

.voyager .btn-group-sm>.btn, .voyager .btn-group-sm>.btn:hover, .voyager .btn.btn-sm, .voyager .btn.btn-sm:hover {
    border-color: #342a4c;
    border-width: 1px;
    color: #fff;
}

.voyager .btn.btn-warning {
    background: #846052;
    border: 0;
    border-radius: 5px;
    color: #fff;
    opacity: .9;
    margin: 3px;
}

.btn.btn-primary {
    background: #846052;
    border: 0;
    border-radius: 5px;
    color: #fff;
    opacity: .9;
    margin: 3px;
}

.voyager .btn.btn-danger {
    background: #846052;
    border: 0;
    border-radius: 5px;
    color: #fff;
    opacity: .9;
    margin: 3px;
}


.voyager .pagination .active span, .voyager .pagination .active>a, .voyager .pagination .active>a:focus, .voyager .pagination .active>a:hover, .voyager .pagination .active>span:focus, .voyager .pagination .active>span:hover {
    background-color: #d3cdd9;
    border-color: #342a4c;
    color: #342a4c;
    cursor: default;
    outline: none;
    z-index: 3;
}

.voyager .btn.btn-success {
    background: #846052;
    border: 0;
    border-radius: 5px;
    color: #fff;
    opacity: .9;
    margin: 3px;
}

.voyager .btn.btn-info {
    background: #846052;
    border: 0;
    border-radius: 5px;
    color: #fff;
    opacity: .9;
    margin: 3px;
}

.voyager .app-footer{
    background: #bab0c4;
}

.voyager nav.navbar.navbar-default.navbar-fixed-top.navbar-top{
    background: #888095;
}


.voyager input{
    background: #ccbfd9;
    border: #ccbfd9;
    color: #342a4c;
}


.voyager input[type=file]{
    background: #d3cdd9;
    border: #d3cdd9;
    color: #342a4c;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    background: #ccbfd9;
    border: #ccbfd9;
    color: #342a4c;
}

.pagination>li>a, .pagination>li>span {
    background-color: #d3cdd9;
    border: 1px solid #fff;
    color: #337ab7;
    float: left;
    line-height: 1.42857143;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}



.panel-body .select2-selection{
    background: #ccbfd9;
    border: #ccbfd9;
    color: #342a4c;
}



.panel-footer {
    background: #d3cdd9;
    border: #d3cdd9;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #342a4c;
    border: #342a4c;
}

.buttonBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.card{
    width: 35rem; 
    margin: 20px;
    border-radius: 10px;
}